{% extends "base.html" %}

{% block title %}List
{% endblock %}

{% block content %}
<h2>List of series</h2>
<table id='table'>
<tdata>
{% for entry in entries %}
  <tr>
    <td><input type='checkbox' name='{{ entry.name }}' value='{{ entry.name }}'></td>
    <td>{{ entry.name }}</td>
    <td>
      <a href='/raw/{{ entry.name }}'>raw data</a>
      <a href='/graph/{{ entry.name }}'>graph</a>
      <a href='/s/{{ entry.name }}'>about series</a>
    </td>
  </tr>
{% endfor %}
</tdata>
</table>
<button id='graphSelected'>Graph selected</button>
<button id='dataSelected'>Show data for selected</button>
<br/>
<br/>
<button id='new'>New series</button>

<script type='text/javascript'>
gs = document.getElementById('graphSelected');
ds = document.getElementById('dataSelected');

handler = function(path) {
  var parent = document.getElementById('table');
  var children = parent.getElementsByTagName('input');
  var vals = [];
  for (var idx = 0; idx < children.length; idx++) {
    var child = children[idx];
    if (child.checked) {
      vals.push(child.value);
    }
  }
  var url = path + '/' + vals.join();
  window.location.href=url;
}

gs.onclick = function() { handler('graph'); }
ds.onclick = function() { handler('raw'); }

document.getElementById('new').onclick = function() {
  var newName = prompt('Enter new series name', '');
  if (newName !== null && newName !== '') {
    window.location.href='/newseries?name=' + newName;
  }
}

</script>
{% endblock %}
