{% extends "base.html" %}
{% block title %}User
{% endblock %}

{% block content %}
<div class='user-form'>
<form action = '/save-user' method="post">
  <input type='hidden' name='user_id' value='{{ user_id }}'/>

  <table>
  <tr>
  <td>Email address:</td>
  <td>{{ user.email }}</td>
  </tr>

  <tr>
  <td>Userid:</td>
  <td>{{ user.uid }}</td>
  </tr>

  <tr>
  <td>Nickname:</td>
  <td>
    <input type='text' name='nickname' id='nickname' value='{{ nickname }}' />
  </td>
  </tr>

  <tr>
  <td>Secret Key:</td>
  <td>
    <input type='text' name='secret' id='secret' value='{{secret}}' />
  </td>
  </tr>

  </table>
  <button id='commit'/>Save</button>
</form>
</div>

{% endblock %}
